AUTH_SECRET=123456789
POSTGRES_PRISMA_URL=postgresql://postgres.bmmkodhliluefecuznfk:<PASSWORD>@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
POSTGRES_URL_NON_POOLING=postgresql://postgres.bmmkodhliluefecuznfk:<PASSWORD>@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
API_URL=